<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
    <meta name="author" content="武继杰, Wu Jijie, Jijie Wu, Wjj, JJ W">
    <meta name="description" content="Jijie Wu is a second-year PhD student at Lanzhou University of Technology (LUT) with research interests in artificial intelligence, computer vision, few-shot image classification, and meta-learning. 这是武继杰博士的个人学术主页">
    <meta name="keywords" content="人工智能, 计算机视觉, 细粒度图像识别, 小样本学习, 元学习, 领域自适应, Artificial Intelligence, Computer Vision, Fine-grained Image Recognition, Small-Sample Learning, Few-shot Learning, Meta-learning, Domain Adaptive, BSNet, Bi-FRN, BiFRN, Mixed Attention">
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
